<%- include("includes/head.ejs") %>
<body>
    <%- include("includes/navigation.ejs") %>
    <h1>List of Blogs</h1>
    <% if(blogs.length === 0) {
        %> <h1>There are no blogs</h1>
     <% } else {%>
         <ul>
             <% for(const blog of blogs) {%>
                 <%- include("includes/blog.ejs", {blog}) %>
             <%} %>
         </ul>
     <% } %>
</body>
</html>